.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  background-color: var(--theme-background-color);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
  }

  :global(html.theme-light) &:not(.customBgImage)::before {
    background-image: url('../../assets/chat-bg-br.png');
  }

  &:not(.customBgImage).customBgColor::before {
    display: none;
  }

  &.customBgImage::before {
    background-image: var(--custom-background) !important;
    transform: scale(1);
  }

  :global(body:not(.no-page-transitions)) &.withTransition {
    transition: background-color 0.2s;

    &.customBgImage::before {
      transition: background-image var(--layer-transition);
    }
  }

  &.draggable {
    -webkit-app-region: drag;
  }

  &.customBgImage.blurred::before {
    filter: blur(12px);
  }

  @media screen and (min-width: 1276px) {
    :global(body:not(.no-page-transitions)) &:not(.customBgImage)::before {
      overflow: hidden;
      transform: scale(1);
      transform-origin: left center;
    }
  }

  :global(html.theme-light body:not(.no-page-transitions)) &:not(.customBgImage).withRightColumn::before {
    @media screen and (min-width: 1276px) {
      transform: scaleX(0.73) !important;
    }

    @media screen and (min-width: 1921px) {
      transform: scaleX(0.8) !important;
    }

    @media screen and (min-width: 2600px) {
      transform: scaleX(0.95) !important;
    }
  }

  /* stylelint-disable-next-line @stylistic/max-line-length */
  :global(html.theme-light body:not(.no-page-transitions)) &:not(.customBgImage).withRightColumn.withTransition::before {
    transition: transform var(--layer-transition);
  }

  &:not(.customBgImage):not(.customBgColor)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../assets/chat-bg-pattern-light.png');
    background-position: top right;
    background-size: 510px auto;
    background-repeat: repeat;
    mix-blend-mode: overlay;

    :global(html.theme-dark) & {
      background-image: url('../../assets/chat-bg-pattern-dark.png');
      mix-blend-mode: unset;
    }
  }
}

.isPattern {
  background-color: #000 !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    background-image: none !important;
  }
}

.isDark {
  .colorsCanvas {
    opacity: 0.46;
    mask: center repeat;
    mask-size: 420px auto;
    mask-image: var(--custom-background);
    opacity: .3;
  }
  .wallpaperPattern {
    display: none;
  }
}

.colorsCanvas {
  width: 100%;
  height: 150%;
  top: -25%;
}

.wallpaperPattern {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: soft-light;
  background: center repeat;
  background-size: 420px auto;
  background-image: var(--custom-background);
  opacity: .5;
  z-index: 2;
}
